# https://git.gametaptap.com/help/user/project/codeowners/index.md

* @panyang @huangshuzhi

# CN
/cn/ @panyang @huangshuzhi @zhaoyang1 @chenke @lichao @zhouxianli @wanghao @yuwenjian @suixiaoxu @nick @wenyouqiang

# HK
/hk/ @panyang @huangshuzhi @zhaoyang1 @chenke @lichao @zhouxianli @wanghao @yuwenjian @suixiaoxu @nick @wenyouqiang
