# https://git.gametaptap.com/help/user/project/codeowners/index.md

* @huangshuzhi @panyang

# CN
/cn/ @panyang @zhaoyang1 @chenke @lichao @zhouxianli @wanghao @yuwenjian @suixiaoxu

# HK
/hk/ @panyang @zhaoyang1 @chenke @lichao @zhouxianli @wanghao @yuwenjian @suixiaoxu
