/* fonts */
:root {
  --tap-font-regular: 400;
  --tap-font-medium: 500;
  --tap-font-medium-win: 600;
  --tap-font-bold: 700;
}

/* colors */
:root {
  --tap-grey7: #1d2127;
  --tap-grey6: #52575d;
  --tap-grey5: #868c92;
  --tap-grey3: #d2d7d9;
  --tap-grey2: #ebeff0;
  --tap-grey1: #f5f5f5;
  --tap-grey0: #fafafa;
}

/* size */
:root {
  --tap-border-radius-base: 4px;
}

/* shadow */
:root {
  --tap-box-shadow-2: 0px 3px 14px rgba(45, 47, 51, 0.12);
}

/* font mixins */
@mixin tap-font-bold {
  font-weight: var(--tap-font-medium);
}

@mixin tap-font-12 {
  font-size: 12px;
  line-height: 18px;
}

@mixin tap-font-16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin tap-font-20 {
  font-size: 20px;
  line-height: 28px;
}

@mixin tap-font-24 {
  font-size: 24px;
  line-height: 32px;
}

@mixin tap-font-28 {
  font-size: 28px;
  line-height: 36px;
}

@mixin tap-font-30 {
  font-size: 30px;
  line-height: 38px;
}
